<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>失敗頁面</title>
    <style>
        .header {
            background-color: #456;
            color: white;
            padding: 20px;
            font-size: 24px;
            font-weight: bold;
        }
        .content {
            padding: 20px;
            font-size: 20px;
            color: #456;
        }
    </style>
</head>
<body>
    <div class="header">失敗頁面</div>
    <div class="content">
        <p>{{ msg }}</p>
    </div>
</body>
</html>
